<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="assets/images/logo.svg">
    <title>Nulab | Cacoo</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
	<link href="/assets/styles/app.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand">CacooUI</a>
          <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addDiagram">Create Diagram</button>
        </div>
      </div>
    </header>
    <main class="container">
		<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link {{#if isAll}}active{{/if}}" href="/diagrams">All diagrams</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link {{#if isOwn}}active{{/if}}" href="/diagrams?type=own">Owned by Me</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link {{#if isShared}}active{{/if}}" href="/diagrams?type=shared">Shared with Me</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link {{#if isStencil}}active{{/if}}" href="/diagrams?type=stencil">Stencil</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link {{#if isTemplate}}active{{/if}}" href="/diagrams?type=template">Template</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link {{#if isRecyclebin}}active{{/if}}" href="/diagrams?type=recyclebin">Recycle Bin</a>
		  </li>
		</ul>    
		
	  <div class="row">
        {{#each diagrams.result}}
  		<div class="col-4">
			<div class="card text-center" style="width: 20rem;">
			  <img class="card-img-top" style="background-image: url('{{imageUrl}}');">
			  <div class="card-body">
			  	{{#if folderName}}
			  	<span class="badge badge-info">{{folderName}}</span>
			  	{{/if}}
			    <h4 class="card-title">{{title}}</h4>
			    <!-- <p class="card-text">{{description}}</p> -->
			    <div class="d-flex justify-content-center">
				    <a href="/diagrams/{{diagramId}}/edit" class="btn btn-outline-dark">
				      <span class="oi oi-pencil" title="edit" aria-hidden="true"></span>
				    </a>
				    <a href="#" class="btn btn-outline-dark">
				      <span class="oi oi-move" title="move" aria-hidden="true"></span>
				    </a>
				    <a href="/diagrams/{{diagramId}}/copy" class="btn btn-outline-dark">
				      <span class="oi oi-layers" title="copy" aria-hidden="true"></span>
				    </a>
				    <a href="/diagrams/{{diagramId}}/remove" class="btn btn-outline-dark">
				      <span class="oi oi-trash" title="remove" aria-hidden="true"></span>
				    </a>
                </div>
			  </div>
			  {{#if editing}}
			  <div class="card-footer text-muted">editing</div>
			  {{/if}}
			</div>  		
  		</div>
  		{{else}}
			<div class="alert alert-secondary col-12" style="margin-top: 10px;" role="alert">
			  No diagrams!
			</div>
        {{/each}}
	  </div>    
		<!-- Modal -->
		<div class="modal fade" id="addDiagram" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <form action="/diagrams" method="post" class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Diagram</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				  <div class="form-group">
				    <label for="title">Title</label>
				    <input id="title" type="text" class="form-control" name="title">
				  </div>
				  <div class="form-group">
				    <label for="description">Description</label>
				    <textarea id="description" class="form-control" name="description" rows="3"></textarea>
				  </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save</button>
		      </div>
		    </div>
		  </form>
		</div>	  
	</main>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>